* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #F2F2F2;
    color: darkblue;
}

img {
    width: 300px;
    height: auto;
    max-height: 300px;
    display: block;
}

h1 {
    font-size: 2.2rem;
}

#filter-form {
    display: flex;
    gap: 0.5rem;
}

.brand {
    color: #F23064;
}

.header {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.details {
    margin: 0 auto;
    width: 100%;
}

.cafe {
    background-color: #A9EBFF;
}

.cafe-container {
    display: flex;
    padding-left: 1rem;
    margin-top: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}


.cafe-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 6rem;
}

.cafe-info a {
    width: fit-content;
    background-color: #f2f2f2;
    color: darkblue;
    padding: 0.25rem 1rem;
    border-radius: 12px;
    margin-top: 0.25rem;
    font: inherit;
}

.cafe-info h2 {
    color: #F23064;
}

.cafe-info-location {
    margin-top: 0.5rem;
}


.cafe-features {
    margin-top: 1rem;
    display: flex;
    gap: 2rem;
    text-align: center;
}

.cafe-features p {
    margin-top: 0.25rem;
}

@media (max-width: 975px) {
    .cafe-features {
        margin-top: 2rem;
        flex-wrap: wrap;
    }

    .img-container {
        display: flex;
        align-items: center;
        height: 100%:
    }

    .cafe-info-location {
        margin-top: 2rem;
    }
}

@media (max-width: 600px) {
    .img-container {
        display: none;
    }

    #filter-form {
        flex-direction: column;
        align-items: flex-end;
    }

    .cafe-info {
        margin: 0;
    }
}